<div class="modal fade" bsModal #modalAccountInfo="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg" style="width: 70%">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">{{ 'account_info.account_info' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAccountInfo.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- <div class="x_panel portlet"> -->
            <!-- <div class="x_title clearfix">
                <h2>Infomation</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link" onclick="collapseBox(this)"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
              </div> -->
            <div class="x_content">
              <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                <div class="profile_img">
                  <div id="crop-avatar">
                    <img class="img-responsive avatar-view" src="{{user.AVATAR}}" alt="Avatar" title="Change the avatar"
                      style="width: 200px; height: 200px;">
                  </div>
                </div>
                <br />
                <h3>{{user.USER_NAME}}</h3>
                <ul class="list-unstyled user_data">
                  <li><i class="fa fa-map-marker user-profile-icon"></i>{{companyName}}
                  </li>
                  <!-- <li>
                      <i class="fa fa-briefcase user-profile-icon"></i>.Net Developer
                    </li> -->
                  <li class="m-top-xs">
                    <i class="fa fa-external-link user-profile-icon"></i>
                    <a href="http://gw.onesms.vn" target="_blank">http://gw.onesms.vn</a>
                  </li>
                  <li>
                    <i class="fa fa-phone user-profile-icon"></i>{{phone}}
                  </li>
                  <li>
                    <i class="fa fa-envelope user-profile-icon"></i>{{email}}
                  </li>
                </ul>
                <br />
                <button class="btn btn-success" (click)="showEditInfo()"><i class="fa fa-edit m-right-xs"></i>{{ 'account_info.edit_info' | translate }}</button>
                <br />
              </div>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <h2 style="margin-bottom: 10px">{{ 'account_info.title' | translate }}</h2>
                <div class="table-responsive" style="min-height: 230px">
                  <table class="table table-bordered clear-bottom">
                    <thead>
                      <tr>
                        <th class="text-center col-min-width">STT</th>
                        <th class="text-center">{{ 'account_info.ip_cus' | translate }}</th>
                        <th class="text-center">{{ 'account_info.time' | translate }}</th>
                        <th class="text-center">{{ 'account_info.action' | translate }}</th>
                        <th class="text-center">{{ 'account_info.detail' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody class="table-content">
                      <tr *ngFor="let log of dataLog">
                        <td class="text-center">{{log.STT}}</td>
                        <td class="text-center">{{log.IP}}</td>
                        <td class="text-center">{{log.CREATE_DATE}}</td>
                        <td>{{log.ACTION}}</td>
                        <td><textarea
                            style="height: 40px; min-height: 40px; min-width: 100px; max-width: 700px; width: 100%;"
                            readonly>{{log.DESCRIPTION}}</textarea>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row box-pagination">
                  <div class="col-md-6 col-sm-6 col-xs-6 minibox" style="margin: 25px 0 0 0">
                    Tổng số {{ pagination.totalRow }} bản ghi trong {{ pagination.totalPage }} trang. Hiển thị
                    <select (change)="changePageSize($event.target.value)" [value]="pagination.pageSize">
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                      <option value="99999999">Tất cả</option>
                    </select>
                    bản ghi.
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6 minibox" style="margin-bottom:10px">
                    <pagination [boundaryLinks]="true" [itemsPerPage]="pagination.pageSize"
                      [totalItems]="pagination.totalRow" (pageChanged)="pageChanged($event)"
                      (numPages)="pagination.totalPage = $event" [(ngModel)]="pagination.pageIndex" [rotate]="true"
                      [maxSize]="5" class="pagination-sm content-end" previousText="&lsaquo;" nextText="&rsaquo;"
                      firstText="&laquo;" lastText="&raquo;">
                    </pagination>
                  </div>
                </div>
              </div>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm"
          (click)="modalAccountInfo.hide()">{{ 'global.cancel' | translate }}</button>
      </div>
    </div>

    <!-- modal xác nhận reset password-->
    <div class="modal fade" bsModal #editInfoModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
      role="dialog" aria-labelledby="dialog-static-name">
      <div class="modal-dialog modal-lg" style="width: 50%">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="dialog-static-name" class="modal-title pull-left">{{ 'account_info.edit_info' | translate }}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="editInfoModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form [formGroup]="formEditInfo">
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <label>Company</label>
                      <input type="text" class="form-control" formControlName="company" maxlength="500"
                        placeholder="{{ 'account_info.inCompany' | translate }}" ngModel>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 15px;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <label>Phone</label>
                      <input type="text" class="form-control" formControlName="phone" maxlength="20"
                        placeholder="{{ 'account_info.inPhone' | translate }}" ngModel>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 15px;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <label>Email</label>
                      <input type="text" class="form-control" formControlName="email" maxlength="20"
                        placeholder="{{ 'account_info.inMail' | translate }}" ngModel>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <label>{{'global.avatar' | translate}}</label>
                      <input type="file" #uploadImageEdit class="form-control" (change)="submitUploadImageEdit()">
                    </div>
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <img src="{{ urlImageUploadEdit }}" style="width: 150px; height: 150px;" />
                      <label class="remove-node" (click)="removeImage()"><i class="fa fa-times-circle"></i></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default btn-sm"
                (click)="editInfoModal.hide()">{{'global.cancel' | translate}}</button>
              <button type="button" (click)="editInforAccount()"
                class="btn btn-success">{{ 'global.confirm' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>