<article>
    <section>
        <div class="page-title clearfix">
            <div class="title_left">
                <h3>{{ 'sms_template.title_template' | translate }}</h3>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel portlet">
                    <div class="x_content">
                        <form class="row form-horizontal form-label-left input_mask">
                            <div class="col-md-9 col-sm-8 col-xs-12 form-group" style="padding: 0;">
                                <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                    <angular2-multiselect [data]="dataSender"
                                        [(ngModel)]="selectedItemComboboxSender" [settings]="settingsFilterSender"
                                        (onSelect)="onItemSelectSender()" (onDeSelect)="onItemSelectSender()"
                                        name="slSender">
                                    </angular2-multiselect>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" name="content"
                                        [(ngModel)]="content"
                                        placeholder="{{ 'sms_template.filter_name' | translate }}"
                                        (keyup.enter)="getData()">
                                    <span class="fa fa-indent form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 form-group">
                                <button type="button" style="float: right; margin-right: 0;" (click)="getData()"
                                    class="btn btn-primary btn-sm">{{ 'global.search' | translate }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel portlet">
                    <div class="x_content">
                        <form class="form-horizontal form-label-left input_mask">
                            <div class="form-group">
                                <div class="form-group has-feedback content-end">
                                    <button type="button" class="btn btn-primary btn-sm" *ngIf="role.IS_ADD"
                                        (click)="showModalCreate.show()">{{ 'global.add_new' | translate }}</button>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 form-group has-feedback">
                                <div class="table-responsive">
                                    <table class="table table-bordered clear-bottom">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width:5%">STT</th>
                                                <th class="text-center" style="white-space: nowrap;">
                                                    {{ 'sms_template.sender_name' | translate }}</th>
                                                <th class="text-center">{{ 'sms_template.temp_type' | translate }}</th>
                                                <th class="text-center">{{ 'sms_template.temp_content' | translate }}
                                                </th>
                                                <th class="text-center">{{ 'sms_template.total_param' | translate }}
                                                </th>
                                                <th class="text-center" style="width:8%">{{ 'global.tool' | translate }}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of dataTemp; let i = index" [attr.data-index]="i">
                                                <td class="text-center" scope="row">{{i+1}}</td>
                                                <td>{{item.SENDER_NAME}}</td>
                                                <td>{{item.TEMPLATE_TYPE}}</td>
                                                <td>{{item.CONTENT}}</td>
                                                <td>{{item.TOTALPARAM}}</td>
                                                <td class="text-center">
                                                    <div class="tool">
                                                        <button type="submit" (click)="confirmUpdateModal(item.ID)"
                                                            *ngIf="role.IS_EDIT"
                                                            class="btn btn-success btn-sm">{{ 'global.edit' | translate }}</button>
                                                        <button type="button" class="btn btn-danger btn-sm"
                                                            *ngIf="role.IS_DELETE"
                                                            (click)="confirmDeleteModal.show()">{{ 'global.delete' | translate }}</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6" style="margin: 25px 0 0 0">
                                        Tổng số {{ pagination.totalRow }} bản ghi trong {{ pagination.totalPage }}
                                        trang. Hiển thị
                                        <select (change)="changePageSize($event.target.value)">
                                            <option value="5" selected="">5</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="99999999">Tất cả</option>
                                        </select>
                                        bản ghi.
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 minibox" style="margin-bottom:10px">
                                        <pagination [boundaryLinks]="true" [itemsPerPage]="pagination.pageSize"
                                            [totalItems]="pagination.totalRow" (pageChanged)="pageChanged($event)"
                                            (numPages)="pagination.totalPage = $event"
                                            [(ngModel)]="pagination.pageIndex" [rotate]="true" [maxSize]="5"
                                            class="pagination-sm content-end" previousText="&lsaquo;"
                                            nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                                        </pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

<!-- Thêm tin mẫu -->
<div class="modal fade" bsModal #showModalCreate="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">{{'sms_template.add_sms_temp' | translate}}
                </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="showModalCreate.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #formAdd="ngForm" (ngSubmit)="createTemplate(formAdd)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-12 form-group">
                            <label>{{'sms_template.sender_name' | translate}} <span
                                    style="color: red;">(*)</span></label>
                            <angular2-multiselect [data]="dataSender" [(ngModel)]="selectedItemComboboxSenderCreate"
                                [settings]="settingsFilterSender" name="slSenderCreate">
                            </angular2-multiselect>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 form-group">
                            <label>{{'sms_template.temp_type' | translate}}</label>
                            <input type="text" class="form-control" name="tempType" ngModel
                                placeholder="{{ 'sms_template.iTemp_type' | translate }}">
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 form-group">
                            <label>{{'sms_template.total_param' | translate}}</label>
                            <input type="text" class="form-control" name="totalParam" ngModel
                                placeholder="{{ 'sms_template.iTotal_param' | translate }}">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <label>{{'sms_template.temp_content' | translate}} <span
                                    style="color: red;">(*)</span></label>
                            <textarea class="form-control" name="tempContent" rows="3"
                                placeholder="{{ 'sms_template.iTemp_content' | translate }}" ngModel></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                        (click)="showModalCreate.hide()">{{ 'global.cancel' | translate }}</button>
                    <button type="submit" class="btn btn-success">{{ 'global.confirm' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- modal sửa tin mẫu-->
<div class="modal fade" bsModal #showModalUpdate="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">{{'sms_template.edit_sms_temp' | translate}}
                </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="showModalUpdate.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="formEditTemplate" (ngSubmit)="editTemplate()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-12 form-group">
                            <label>{{'sms_template.sender_name' | translate}} <span
                                    style="color: red;">(*)</span></label>
                            <angular2-multiselect [data]="dataSender" [(ngModel)]="selectedItemComboboxSenderEdit"
                                [settings]="settingsFilterSender" formControlName="slSenderEdit">
                            </angular2-multiselect>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 form-group">
                            <label>{{'sms_template.temp_type' | translate}}</label>
                            <input type="hidden" formControlName="id">
                            <input type="text" class="form-control" formControlName="tempType"
                                placeholder="{{ 'sms_template.iTemp_type' | translate }}">
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 form-group">
                            <label>{{'sms_template.total_param' | translate}}</label>
                            <input type="text" class="form-control" formControlName="totalParam"
                                placeholder="{{ 'sms_template.iTotal_param' | translate }}">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <label>{{'sms_template.temp_content' | translate}} <span
                                    style="color: red;">(*)</span></label>
                            <textarea class="form-control" formControlName="tempContent" rows="3"
                                placeholder="{{ 'sms_template.iTemp_content' | translate }}"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                        (click)="showModalUpdate.hide()">{{ 'global.cancel' | translate }}</button>
                    <button type="submit" class="btn btn-success">{{ 'global.confirm' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- modal xác nhận xóa tin mẫu-->
<div class="modal fade" bsModal #confirmDeleteModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">{{'global.delete' | translate}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="confirmDeleteModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>{{'global.ask_delete_temp' | translate}}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                    (click)="confirmDeleteModal.hide()">{{'global.cancel' | translate}}</button>
                <button type="submit" class="btn btn-success"
                    (click)="confirmDelete(id)">{{'global.confirm' | translate}}</button>
            </div>
        </div>
    </div>
</div>