<article>
  <section>
    <div class="page-title clearfix">
      <div class="title_left">
        <h3>{{'role.role_management' | translate}}</h3>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel portlet">
          <div class="x_content">
            <form class="form-horizontal form-label-left input_mask">
              <div class="form-group">
                <div class="form-group has-feedback content-end">
                  <button type="button" class="btn btn-primary btn-sm"
                    (click)="createRoleModal.show()">{{ 'global.add_new' | translate }}</button>
                  <button type="submit" class="btn btn-success btn-sm"
                    (click)="exportExcelRole()">{{ 'global.export_excel' | translate }}</button>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-12 col-xs-12 form-group has-feedback">
                <div class="table-responsive">
                  <table class="table table-bordered clear-bottom">
                    <thead>
                      <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center">{{'role.role_name' | translate}}</th>
                        <th class="text-center">{{'role.role_description' | translate}}</th>
                        <th class="text-center" style="width: 150px;">Công cụ</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let role of dataRole; let i = index" [attr.data-index]="i">
                        <td class="text-center">{{i + 1}}</td>
                        <td>{{role.ROLE_NAME}}</td>
                        <td>{{role.ROLE_DESCRIPTION}}</td>
                        <td class="text-center">
                          <div class="tool">
                            <button type="submit" class="btn btn-success btn-sm"
                              (click)="showConfirmEditRole(role.ID)">{{ 'global.edit' | translate }}</button>
                            <button type="button" class="btn btn-success btn-sm" (click)="showPhanQuyen(role.ID)">
                              {{'account.permission' | translate}}</button>
                            <button type="button" class="btn btn-danger btn-sm"
                              (click)="showConfirmDeleteRole(role.ID, role.ROLE_NAME)">{{ 'global.delete' | translate }}</button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6" style="margin: 25px 0 0 0">
                    Tổng số {{ pagination.totalRow }} bản ghi trong {{ pagination.totalPage }} trang. Hiển thị
                    <select (change)="changePageSize($event.target.value)" [value]="pagination.pageSize">
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                      <option value="99999999">Tất cả</option>
                    </select>
                    bản ghi.
                  </div>
                  <div class="col-md-6 col-sm-6" style="margin-bottom:10px">
                    <pagination [boundaryLinks]="true" [itemsPerPage]="pagination.pageSize"
                      [totalItems]="pagination.totalRow" (pageChanged)="pageChanged($event)"
                      (numPages)="pagination.totalPage = $event" [(ngModel)]="pagination.pageIndex" [rotate]="true"
                      [maxSize]="5" class="pagination-sm content-end" previousText="&lsaquo;" nextText="&rsaquo;"
                      firstText="&laquo;" lastText="&raquo;">
                    </pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>


<!-- modal thêm nhóm quyền-->
<div class="modal fade" bsModal #createRoleModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">{{'role.create_role' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="createRoleModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #role="ngForm" (ngSubmit)="createRole(role.value)">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label for="roleName">{{'role.role_name' | translate}} <span style="color:red;">(*)</span></label>
              <input type="text" id="roleName" class="form-control" name="roleName" required="" ngModel>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label for="roleDescription">{{'role.role_description' | translate}}</label>
              <input type="text" id="roleDescription" class="form-control" name="roleDescription" required="" ngModel>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
            (click)="createRoleModal.hide()">{{ 'global.cancel' | translate }}</button>
          <button type="submit" class="btn btn-success">{{ 'global.confirm' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal sửa nhóm quyền-->
<div class="modal fade" bsModal #editRoleModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">{{'role.edit_role' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="editRoleModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="formEditRole" (ngSubmit)="editRole()">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label>{{'role.role_name' | translate}} <span style="color:red;">(*)</span></label>
              <input type="text" class="form-control" formControlName="roleName" required="">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label>{{'role.role_description' | translate}}</label>
              <input type="text" class="form-control" formControlName="roleDescription" required="">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
            (click)="editRoleModal.hide()">{{ 'global.cancel' | translate }}</button>
          <button type="submit" class="btn btn-success">{{ 'global.confirm' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal xác nhận xóa nhóm quyền-->
<div class="modal fade" bsModal #confirmDeleteModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
  role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">{{'global.confirm' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="confirmDeleteModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" style="display: flex">
          <div>{{ 'global.ask_delete' | translate }}</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="confirmDeleteModal.hide()">{{'global.cancel' | translate}}</button>
        <button type="submit" class="btn btn-success" (click)="deleteRole(roleID)">{{'global.confirm' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<!-- modal phan quyen-->
<div class="modal fade" bsModal #phanQuyenModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">{{'role_menu.form_title' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="phanQuyenModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-role-menu #roleMenuComponent></app-role-menu>
      </div>
    </div>
  </div>
</div>