<article>
  <section>
    <div class="page-title clearfix">
      <div class="title_left">
        <h3>{{ 'customers.list_customers' | translate }}</h3>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel portlet">
          <div class="x_content">
            <form class="row form-horizontal form-label-left input_mask" #formSearch="ngForm"
              (ngSubmit)="SearchCustomers(formSearch.value)">
              <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                <angular2-multiselect [data]="dataAccount" [(ngModel)]="selectedAccountID"
                  [settings]="settingsFilterAccount" (onSelect)="onItemSelect()" (onDeSelect)="OnItemDeSelect()"
                  name="accountID">
                </angular2-multiselect>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" name="full_name_fillter" ngModel
                  placeholder="{{ 'customers.full_name' | translate }}">
                <span class="fa fa-list-ul form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" name="phone_fillter" ngModel
                  placeholder="{{ 'customers.phone' | translate }}">
                <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
              </div>

              <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" name="birthday_fillter" bsDatepicker
                  [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth: true}" placeholder="{{ 'customers.birthday' | translate }}"
                  ngModel>
                <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback" style="float: right">
                <button type="submit" style="float: right; margin-right: 10;"
                  class="btn btn-primary btn-sm">{{ 'global.search' | translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel portlet">
          <div class="x_content">
            <form class="form-horizontal form-label-left input_mask">
              <div class="form-group">
                <div class="form-group has-feedback content-end">
                  <button type="button" class="btn btn-primary btn-sm" *ngIf="role.IS_ADD"
                    (click)="showFormCreate()">{{ 'global.add_new' | translate }}</button>
                  <button type="button" class="btn btn-primary btn-sm"
                    (click)="importExcelModal.show()">{{ 'global.import_excel' | translate }}</button>
                  <button type="button" class="btn btn-primary btn-sm"
                    (click)="exportExcelCustomer()">{{ 'global.export_excel' | translate }}</button>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-12 col-xs-12 form-group has-feedback">
                <div class="table-responsive">
                  <table class="table table-bordered clear-bottom">
                    <thead>
                      <tr>
                        <th class="text-center" style="width: 60px">{{'global.order' | translate}}</th>
                        <th class="text-center">{{ 'customers.full_name' | translate }}</th>
                        <th class="text-center">{{ 'customers.sub_name' | translate }}</th>
                        <th class="text-center" style="width: 150px">{{ 'customers.phone' | translate }}</th>
                        <th class="text-center" style="width: 150px">{{ 'customers.birthday' | translate }}</th>
                        <th class="text-center" style="width: 150px">{{ 'customers.is_send_birth' | translate }}</th>
                        <th class="text-center">{{ 'customers.description' | translate }}</th>
                        <th class="text-center" style="width: 80px">{{ 'global.tool' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody class="table-content">
                      <tr [ngClass]="{'row-hidden-delete': idDelete.indexOf(customers.ACCOUNT_ID) >= 0 }"
                        *ngFor="let customers of dataCustomers; let i = index" [attr.data-index]="i">
                        <td class="text-center">{{customers.STT}}</td>
                        <td>{{customers.FIRST_NAME + ' ' + customers.LAST_NAME}}</td>
                        <td>{{customers.DANH_XUNG}}</td>
                        <td>{{customers.PHONE}}</td>
                        <td>{{customers.BIRTHDAY}}</td>
                        <td class="text-center">
                          <input type="checkbox" [checked]="customers.IS_SEND == 1 ? true : false" class="checkbox" disabled>
                        </td>
                        <td>{{customers.DESCRIPTION}}</td>
                        <td class="text-center">
                          <div class="tool">
                            <button type="submit" class="btn btn-primary btn-sm" *ngIf="role.IS_EDIT"
                              (click)="showConfirmEditCustomers(customers.ID)">{{ 'global.edit' | translate }}</button>
                            <button type="button" class="btn btn-danger btn-sm" *ngIf="role.IS_DELETE"
                              (click)="showConfirmDeleteCustomers(customers.ID, customers.FULL_NAME)">{{ 'global.delete' | translate }}</button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6" style="margin: 25px 0 0 0">
                    Tổng số {{ pagination.totalRow }} bản ghi trong {{ pagination.totalPage }} trang. Hiển thị
                    <select (change)="changePageSize($event.target.value)">
                      <option value="5" selected="">5</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                      <option value="99999999">Tất cả</option>
                    </select>
                    bản ghi.
                  </div>
                  <div class="col-md-6 col-sm-6" style="margin-bottom:10px">
                    <pagination [boundaryLinks]="true" [itemsPerPage]="pagination.pageSize"
                      [totalItems]="pagination.totalRow" (pageChanged)="pageChanged($event)"
                      (numPages)="pagination.totalPage = $event" [(ngModel)]="pagination.pageIndex" [rotate]="true"
                      [maxSize]="5" class="pagination-sm content-end" previousText="&lsaquo;" nextText="&rsaquo;"
                      firstText="&laquo;" lastText="&raquo;">
                    </pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>

<!-- modal thêm mới-->
<div class="modal fade" bsModal #createNewModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">{{ 'customers.create' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeFormCreate()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #customersform="ngForm" (ngSubmit)="createCustomers(customersform)">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <label>{{'customers.accountid' | translate}} <span style="color:red;">(*)</span></label>
              <angular2-multiselect [data]="dataAccount" [(ngModel)]="selectedAccountID"
                [settings]="settingsFilterAccount" name="accountID">
              </angular2-multiselect>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <label>{{'customers.full_name' | translate}}</label>
              <input type="text" id="fullName" class="form-control" name="fullName" required="" [(ngModel)]="fullName">
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <label>{{'customers.phone' | translate}} <span style="color:red;">(*)</span></label>
              <input type="text" id="phone" class="form-control" name="phone" required="" [(ngModel)]="phone">
            </div>
          </div>
          <div class="row" style="margin-top: 15px">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <label>{{'customers.danh_xung' | translate}}</label>
              <input type="text" id="preName" class="form-control" name="preName" required="" [(ngModel)]="preName">
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
              <label>{{'customers.birthday' | translate}}</label>
              <input type="text" class="form-control" name="birthday" bsDatepicker
                [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth: true}" [(ngModel)]="birthday">
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 form-group checkbox">
              <label style="margin-top: 15px;"><input type="checkbox" class="checkbox" name="isBirthday" [(ngModel)]="checkSendSms">
                <span>{{'customers.birthday_product' | translate}}</span> </label>
            </div>
          </div>
          <div class="row" style="margin-top: 15px">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <label>{{'customers.address' | translate}}</label>
              <input type="text" id="address" class="form-control" name="address" required="" [(ngModel)]="address">
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <label>{{'customers.email' | translate}}</label>
              <input type="text" id="email" class="form-control" name="email" required="" [(ngModel)]="email">
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <label>{{'customers.description' | translate}}</label>
              <input type="text" id="description" class="form-control" name="description" required=""
                [(ngModel)]="description">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm"
            (click)="closeFormCreate()">{{ 'global.cancel' | translate }}</button>
          <button type="submit" class="btn btn-success btn-sm">{{ 'global.confirm' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal sửa -->
<div class="modal fade" bsModal #editThisModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">{{ 'customers.edit' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="editThisModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="formEditCustomers" (ngSubmit)="editCustomers()">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <label>{{'customers.accountid' | translate}} <span style="color:red;">(*)</span></label>
              <angular2-multiselect [data]="dataAccount" [settings]="settingsFilterAccount" formControlName="accountID">
              </angular2-multiselect>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <label>{{'customers.full_name' | translate}}</label>
              <input type="text" class="form-control" formControlName="fullName" required="">
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <label>{{'customers.phone' | translate}} <span style="color:red;">(*)</span></label>
              <input type="text" class="form-control" formControlName="phone" required="">
            </div>
          </div>
          <div class="row" style="margin-top: 15px">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <label>{{'customers.danh_xung' | translate}}</label>
              <input type="text" class="form-control" formControlName="preName" required="">
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
              <label>{{'customers.birthday' | translate}}</label>
              <input type="text" class="form-control" formControlName="birthday" bsDatepicker
                [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', selectFromOtherMonth: true}">
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 checkbox">
              <label style="margin-top: 15px;"><input type="checkbox" class="checkbox" formControlName="isBirthday"
                  ngModel>
                <span>{{'customers.birthday_product' | translate}}</span> </label>
            </div>
          </div>
          <div class="row" style="margin-top: 15px">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <label>{{'customers.address' | translate}}</label>
              <input type="text" class="form-control" formControlName="address" required="">
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <label>{{'customers.email' | translate}}</label>
              <input type="text" class="form-control" formControlName="email" required="">
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <label>{{'customers.description' | translate}}</label>
              <input type="text" class="form-control" formControlName="description" required="">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm"
            (click)="editThisModal.hide()">{{ 'global.cancel' | translate }}</button>
          <button type="submit" class="btn btn-success btn-sm">{{ 'global.confirm' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- modal xác nhận xóa -->
<div class="modal fade" bsModal #confirmDeleteModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
  role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">{{'global.delete' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="confirmDeleteModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <div>Bạn có chắc chắn muốn xóa khách hàng "<span class="text-success">{{Full_Name}}</span>" không?</div> -->
        <div>{{'global.ask_delete_data' | translate}}  "<span class="text-success">{{Full_Name}}</span>"?</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" (click)="confirmDeleteModal.hide()">{{'global.cancel' | translate}}</button>
        <button type="submit" class="btn btn-success btn-sm" (click)="deleteCustomers(CustomersId)">{{'global.confirm' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<!-- modal import excel -->
<div class="modal fade" bsModal #importExcelModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Import excel</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="importExcelModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #importExcelform="ngForm" (ngSubmit)="importExcelCustomer(customersform)">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <label>{{'customers.accountid' | translate}} <span style="color:red;">(*)</span></label>
              <angular2-multiselect [data]="dataAccount" [(ngModel)]="selectedAccountID"
                [settings]="settingsFilterAccount" name="accountID">
              </angular2-multiselect>
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
              <label>File import</label>
              <input type="file" #importExcel name="importExcel" class="form-control">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm" (click)="importExcelModal.hide()">Hủy</button>
          <button type="button" class="btn btn-primary btn-sm"
            (click)="exportExcelTemplate()">{{'sms_customize.export_template' | translate}}</button>
          <button type="submit" class="btn btn-success btn-sm">{{ 'global.confirm' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
