<article>
  <section>
    <div class="page-title clearfix">
      <div class="title_left">
        <h3>{{ 'partner.partner_management' | translate }}</h3>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel portlet">
          <div class="x_content">
            <form class="row form-horizontal form-label-left input_mask">
              <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" name="txtPrName" [(ngModel)]="txtPrName"
                  placeholder="{{ 'partner.partner_name' | translate }}" (keyup.enter)="getDataPartner()">
                <span class="fa fa-indent form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                <button type="button" style="float: right; margin-right: 0;" (click)="getDataPartner()"
                  class="btn btn-primary btn-sm">{{ 'global.search' | translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel portlet">
          <div class="x_content">
            <form class="form-horizontal form-label-left input_mask">
              <div class="form-group">
                <div class="form-group has-feedback content-end">
                  <button type="button" class="btn btn-primary btn-sm" *ngIf="role.IS_ADD"
                    (click)="createPartnerModal.show()">{{ 'global.add_new' | translate }}</button>
                  <button type="button" class="btn btn-danger btn-sm" *ngIf="role.IS_DELETE"
                    (click)="confirmDeleteMulti()">{{ 'global.multi_delete' | translate }}</button>
                  <button type="submit" class="btn btn-success btn-sm"
                    (click)="exportExcel()">{{ 'global.export_excel' | translate }}</button>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-12 col-xs-12 form-group has-feedback">
                <div class="table-responsive">
                  <table class="table table-bordered clear-bottom">
                    <thead>
                      <tr>
                        <th class="text-center">{{'global.order' | translate}}</th>
                        <th class="box-checkbox-table">
                          <div class="tool tool-check">
                            <input type="checkbox" [checked]="isCheckedDelete"
                              (change)="checkAllDelete($event.currentTarget.checked)" class="checkbox" />
                          </div>
                        </th>
                        <th class="text-center">{{'partner.name' | translate}}</th>
                        <th class="text-center">{{'partner.shortName' | translate}}</th>
                        <th class="text-center">{{'partner.userSupport' | translate}}</th>
                        <th class="text-center">{{'partner.userAds' | translate}}</th>
                        <th class="text-center">{{'partner.userSmpp' | translate}}</th>
                        <th class="text-center">{{'partner.email' | translate}}</th>
                        <th class="text-center">{{'partner_sender.create_date' | translate}}</th>
                        <th class="text-center">{{'partner_sender.create_user' | translate}}</th>
                        <th class="text-center">{{'global.tool' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr [ngClass]="{'row-hidden-delete': arrIdDelete.indexOf(partner.ID) >= 0 }"
                        *ngFor="let partner of dataPartner; let i = index" [attr.data-index]="i">
                        <td class="text-center">{{partner.STT}}</td>
                        <td class="box-checkbox-table">
                          <input type="checkbox" [checked]="isCheckedDelete"
                            (change)="checkRowDelete($event.currentTarget.checked, partner.ID, partner.PARTNER_NAME)"
                            value="{{partner.ID}}" id="isAdmin" class="checkbox" />
                        </td>
                        <td>{{partner.PARTNER_NAME}}</td>
                        <td>{{partner.PARTNER_CODE}}</td>
                        <td>{{partner.HTTP_USER_CSKH}}</td>
                        <td>{{partner.HTTP_USER_QC}}</td>
                        <td>{{partner.SMPP_USER}}</td>
                        <td>{{partner.RECEIVE_EMAIL_QC}}</td>
                        <td>{{partner.CREATE_DATE}}</td>
                        <td>{{partner.CREATE_USER}}</td>
                        <td class="text-center">
                          <div class="tool">
                            <button type="button" class="btn btn-success btn-sm"
                              (click)="showModalViewDetail(partner.ID, partner.PARTNER_NAME)">{{ 'partner.btn_view_detail' | translate }}</button>
                            <button type="submit" (click)="showConfirmEditPartner(partner.ID)" *ngIf="role.IS_EDIT"
                              class="btn btn-success btn-sm">{{ 'global.edit' | translate }}</button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6" style="margin: 25px 0 0 0">
                    Tổng số {{ pagination.totalRow }} bản ghi trong {{ pagination.totalPage }} trang. Hiển thị
                    <select (change)="changePageSize($event.target.value)">
                      <option value="5" selected="">5</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                      <option value="99999999">Tất cả</option>
                    </select>
                    bản ghi.
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6 minibox" style="margin-bottom:10px">
                    <pagination [boundaryLinks]="true" [itemsPerPage]="pagination.pageSize"
                      [totalItems]="pagination.totalRow" (pageChanged)="pageChanged($event)"
                      (numPages)="pagination.totalPage = $event" [(ngModel)]="pagination.pageIndex" [rotate]="true"
                      [maxSize]="5" class="pagination-sm content-end" previousText="&lsaquo;" nextText="&rsaquo;"
                      firstText="&laquo;" lastText="&raquo;">
                    </pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>

<!-- modal thêm đối tác-->
<div class="modal fade" bsModal #createPartnerModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
  role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg" style="width: 90%">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">{{'partner.add_partner' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="createPartnerModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #partnerForm="ngForm" (ngSubmit)="createPartner(partnerForm)">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>{{'partner.name' | translate}} <label style="color: red;">(*)</label></label>
              <input type="text" id="partnerName" class="form-control" name="partnerName" required="" ngModel>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>User API CSKH</label>
              <input type="text" id="userAPI" class="form-control" name="userAPI" required="" ngModel>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>User SMPP</label>
              <input type="text" id="userSMPP" class="form-control" name="userSMPP" required="" ngModel>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>User API QC</label>
              <input type="text" id="userAPIQC" class="form-control" name="userAPIQC" required="" ngModel>
            </div>
          </div>
          <div class="row" style="margin-top: 10px">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label for="partnerCode">{{'partner.shortName' | translate}} <label
                  style="color: red;">(*)</label></label>
              <input type="text" id="partnerCode" class="form-control" name="partnerCode" required="" ngModel>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label for="passwordAPI">Password API CSKH</label>
              <input type="text" id="passwordAPI" class="form-control" name="passwordAPI" required="" ngModel>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label for="passwordSMPP">Password SMPP</label>
              <input type="text" id="passwordSMPP" class="form-control" name="passwordSMPP" required="" ngModel>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label for="passwordAPIQC">Password API QC</label>
              <input type="text" id="passwordAPIQC" class="form-control" name="passwordAPIQC" required="" ngModel>
            </div>
          </div>
          <div class="row" style="margin-top: 10px">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>Request HTTP</label>
              <input type="tel" value="" id="requestHTTP" class="form-control" name="requestHTTP"
                (keyup)="valueChangedHTTP($event)" (keydown)="valueChangedHTTP($event)" maxlength="3" required=""
                [ngModel]="requestHTTP">
              <span class="form-control-feedback right" style="margin-top:30px" aria-hidden="true">%</span>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label for="UrlHttpCskh1">URL HTTP CSKH1</label>
              <input type="text" id="UrlHttpCskh1" class="form-control" name="UrlHttpCskh1" required="" ngModel>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label for="smppIp_1">SMPP IP_1</label>
              <input type="text" id="smppIp_1" class="form-control" name="smppIp_1" required="" ngModel>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label for="APIQC_1">API QC_1</label>
              <input type="text" id="APIQC_1" class="form-control" name="APIQC_1" required="" ngModel>
            </div>
          </div>
          <div class="row" style="margin-top: 10px">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>Request SMPP</label>
              <input type="tel" value="" id="requestSMPP" class="form-control" name="requestSMPP" maxlength="3"
                required="" (keyup)="valueChangedSMPP($event)" (keydown)="valueChangedSMPP($event)"
                [ngModel]="requestSMPP">
              <span class="form-control-feedback right" style="margin-top:30px" aria-hidden="true">%</span>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label for="UrlHttpCskh2">URL HTTP CSKH2</label>
              <input type="text" id="UrlHttpCskh2" class="form-control" name="UrlHttpCskh2" required="" ngModel>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label for="smppPort_1">SMPP Port1</label>
              <input type="text" id="smppPort_1" class="form-control" name="smppPort_1" required="" ngModel>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label for="APIQC_2">API QC_2</label>
              <input type="text" id="APIQC_2" class="form-control" name="APIQC_2" required="" ngModel>
            </div>
          </div>
          <div class="row" style="margin-top: 10px">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="checkbox">
                <label><input type="checkbox" value="" id="endcodeCSKH" class="checkbox" name="endcodeCSKH" required=""
                    ngModel> <span>Encode CSKH</span> </label>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label for="UrlHttpCskh3">URL HTTP CSKH3</label>
              <input type="text" id="UrlHttpCskh3" class="form-control" name="UrlHttpCskh3" required="" ngModel>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label for="smppIp_2">SMPP IP_2</label>
              <input type="text" id="smppIp_2" class="form-control" name="smppIp_2" required="" ngModel>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label for="APIQC_3">API QC_3</label>
              <input type="text" id="APIQC_3" class="form-control" name="APIQC_3" required="" ngModel>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="checkbox">
                <label><input type="checkbox" value="" id="endcodeQC" class="checkbox" name="endcodeQC" required=""
                    ngModel> <span>Encode QC</span> </label>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label for="emailReceive">Email Receive</label>
              <input type="mail" id="emailReceive" class="form-control" name="emailReceive" required="" ngModel>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label for="smppPort_2">SMPP Port_2</label>
              <input type="text" id="smppPort_2" class="form-control" name="smppPort_2" required="" ngModel>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label for="description">Description</label>
              <input type="text" id="description" class="form-control" name="description" required="" ngModel>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
            (click)="createPartnerModal.hide()">{{ 'global.cancel' | translate }}</button>
          <button type="submit" class="btn btn-success">{{ 'global.confirm' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal sửa đối tác-->
<div class="modal fade" bsModal #confirmUpdatePartnerModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
  role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg" style="width: 90%">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">{{'partner.edit_partner' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="confirmUpdatePartnerModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="formEditPartner" (ngSubmit)="editPartnerForm()">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>{{'partner.name' | translate}} <label style="color: red;">(*)</label></label>
              <input type="hidden" formControlName="id" />
              <input type="text" class="form-control" formControlName="partnerName" value="" required="">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>User API CSKH</label>
              <input type="text" class="form-control" formControlName="userAPI" required="">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>User SMPP</label>
              <input type="text" class="form-control" formControlName="userSMPP" required="">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>User API QC</label>
              <input type="text" class="form-control" formControlName="userAPIQC" required="">
            </div>
          </div>
          <div class="row" style="margin-top: 10px">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>{{'partner.shortName' | translate}} <label style="color: red;">(*)</label></label>
              <input type="text" class="form-control" formControlName="partnerCode" required="">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>Password API CSKH</label>
              <input type="text" class="form-control" formControlName="passwordAPI" required="">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>Password SMPP</label>
              <input type="text" class="form-control" formControlName="passwordSMPP" required="">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>Password API QC</label>
              <input type="text" class="form-control" formControlName="passwordAPIQC" required="">
            </div>
          </div>
          <div class="row" style="margin-top: 10px">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>Request HTTP</label>
              <input type="tel" value="" class="form-control" formControlName="requestHTTP" maxlength="3" required=""
                (keyup)="valueChangedHTTP($event)" (keydown)="valueChangedHTTP($event)">
              <span class="form-control-feedback right" style="margin-top:30px" aria-hidden="true">%</span>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>URL HTTP CSKH1</label>
              <input type="text" class="form-control" formControlName="UrlHttpCskh1" required="">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>SMPP IP_1</label>
              <input type="text" class="form-control" formControlName="smppIp_1" required="">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>API QC_1</label>
              <input type="text" class="form-control" formControlName="APIQC_1" required="">
            </div>
          </div>
          <div class="row" style="margin-top: 10px">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>Request SMPP</label>
              <input type="tel" value="" class="form-control" formControlName="requestSMPP"
                maxlength="3" required="" (keyup)="valueChangedSMPP($event)" (keydown)="valueChangedSMPP($event)">
              <span class="form-control-feedback right" style="margin-top:30px" aria-hidden="true">%</span>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>URL HTTP CSKH2</label>
              <input type="text" class="form-control" formControlName="UrlHttpCskh2" required="">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>SMPP Port1</label>
              <input type="text" class="form-control" formControlName="smppPort_1" required="">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>API QC_2</label>
              <input type="text" class="form-control" formControlName="APIQC_2" required="">
            </div>
          </div>
          <div class="row" style="margin-top: 10px">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="checkbox">
                <label><input type="checkbox" value="" class="checkbox" formControlName="endcodeCSKH" required="">
                  <span>Encode CSKH</span> </label>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>URL HTTP CSKH3</label>
              <input type="text" class="form-control" formControlName="UrlHttpCskh3" required="">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>SMPP IP_2</label>
              <input type="text" class="form-control" formControlName="smppIp_2" required="">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>API QC_3</label>
              <input type="text" class="form-control" formControlName="APIQC_3" required="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="checkbox">
                <label><input type="checkbox" value="" class="checkbox" formControlName="endcodeQC" required="">
                  <span>Encode QC</span> </label>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>Email Receive</label>
              <input type="mail" class="form-control" formControlName="emailReceive" required="">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>SMPP Port_2</label>
              <input type="text" class="form-control" formControlName="smppPort_2" required="">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <label>Description</label>
              <input type="text" class="form-control" formControlName="description" required="">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
            (click)="confirmUpdatePartnerModal.hide()">{{ 'global.cancel' | translate }}</button>
          <button type="submit" class="btn btn-success">{{ 'global.confirm' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal xác nhận xóa tài khoản-->
<!-- <div class="modal fade" bsModal #confirmDeleteModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
      role="dialog" aria-labelledby="dialog-static-name">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="dialog-static-name" class="modal-title pull-left">Xác nhận</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="confirmDeleteModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>Bạn có chắc chắn muốn xóa nhóm quyền "<b class="text-success">{{partnerName}}</b>" không?</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="confirmDeleteModal.hide()">Hủy</button>
            <button type="submit" class="btn btn-success" (click)="deletePartner(partnerId)">Xác nhận</button>
          </div>
        </div>
      </div>
    </div> -->

<!-- modal xác nhận xóa nhiều partner-->
<div class="modal fade" bsModal #confirmDeleteMultiModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
  role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">{{ 'global.confirm' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="confirmDeleteMultiModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>{{'global.ask_delete' | translate}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm"
          (click)="confirmDeleteMultiModal.hide()">{{ 'global.cancel' | translate }}</button>
        <button type="submit" class="btn btn-success btn-sm"
          (click)="deleteMulti()">{{ 'global.confirm' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<!-- modal detail-->
<div class="modal fade" bsModal #modalViewDetail="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg" style="width: 90%">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">{{'partner.partner_detail' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalViewDetail.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <tabset>
          <!-- Quản lý mã lỗi -->
          <tab heading="{{ 'partner_errCode.errCode_management' | translate }}">
            <app-partnererrcode #componentPartnerErrCode></app-partnererrcode>
          </tab>

          <!-- Quản lý gói cước theo đối tác -->
          <tab heading="{{ 'partner.partner_product' | translate }}">
            <app-partner-product #componentPartnerProduct></app-partner-product>
          </tab>

        </tabset>
      </div>
    </div>
  </div>
</div>
