<article>
  <section>
    <div class="page-title clearfix">
      <div class="title_left">
        <h3>{{'account.account_list' | translate}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel portlet">
          <div class="x_title clearfix">
            <h2>{{ 'global.search' | translate }}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link" onclick="collapseBox(this)"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
          </div>
          <div class="x_content">
            <form class="row form-horizontal form-label-left input_mask" #formSearchAccount="ngForm"
              (ngSubmit)="searchAccount(formSearchAccount.value)">
              <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left"
                  placeholder="{{ 'account_vendor.acc_name' | translate }}" name="fillterUserName" ngModel>
                <span class="fa fa-list-ul form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left"
                  placeholder="{{ 'account_vendor.name_email' | translate }}" name="fillterFullName" ngModel>
                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left"
                  placeholder="{{ 'account_vendor.acc_company' | translate }}" name="fillterCompanyName" ngModel>
                <span class="fa fa-list-ul form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" placeholder="{{ 'global.phone' | translate }}"
                  name="fillterPhone" ngModel>
                <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                <select name="fillterPaymentType" class="form-control has-feedback-left" ngModel>
                  <option value="">{{'account.choose_account_type' | translate}}</option>
                  <option value="1">Trả trước</option>
                  <option value="2">Trả sau</option>
                </select>
                <span class="glyphicon glyphicon-lock form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                <angular2-multiselect [data]="listRole" [(ngModel)]="selectedItemComboboxRole"
                  [settings]="settingsFilterRole" name="slRole" *ngIf="isRoot">
                </angular2-multiselect>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                <button type="submit" style="float: right; margin-right: 0;" class="btn btn-primary btn-sm">
                  {{ 'global.search' | translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel portlet">
          <div class="x_content">
            <form class="form-horizontal form-label-left input_mask">
              <div class="form-group">
                <div class="form-group has-feedback content-end">
                  <button type="button" class="btn btn-primary btn-sm" *ngIf="role.IS_ADD"
                    (click)="showCreateAccount()">{{ 'global.add_new' | translate }}</button>
                  <button class="btn btn-primary btn-sm"
                    [routerLink]="['../account-quota']">{{'account.quota_provide' | translate}}</button>
                  <button type="submit" class="btn btn-primary btn-sm"
                    (click)="exportExcelAccount()">{{ 'global.export_excel' | translate }}</button>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-12 col-xs-12 form-group has-feedback">
                <div class="table-responsive">
                  <table class="table table-bordered clear-bottom">
                    <thead>
                      <tr>
                        <th rowspan="2" class="text-center" style="width: 60px; vertical-align: middle;">
                          {{'global.order' | translate}}</th>
                        <th rowspan="2" class="text-center" style="vertical-align: middle;">
                          {{'account.account_name' | translate}}</th>
                        <th rowspan="2" class="text-center" style="vertical-align: middle;">
                          {{'account.account_fullname' | translate}}</th>
                        <!-- <th rowspan="2" class="text-center" style="vertical-align: middle;">
                          {{'global.phone' | translate}}</th>
                        <th rowspan="2" class="text-center" style="vertical-align: middle;">Email</th> -->
                        <th rowspan="2" class="text-center" style="vertical-align: middle;">IP</th>
                        <th colspan="4" class="text-center" style="vertical-align: middle;">Quota</th>
                        <th rowspan="2" class="text-center" style="vertical-align: middle;">
                          {{'account.account_type' | translate}}</th>
                        <th rowspan="2" class="text-center" style="vertical-align: middle;">
                          {{'account.account_status' | translate}}</th>
                        <th rowspan="2" class="text-center" style="vertical-align: middle;">
                          {{'account.create_date' | translate}}</th>
                        <th rowspan="2" class="text-center" style="width: 60px; vertical-align: middle;">SMS CSKH</th>
                        <th rowspan="2" class="text-center" style="width: 60px; vertical-align: middle;">SMS QC</th>
                        <th rowspan="2" class="text-center" style="vertical-align: middle;">
                          {{'global.operate' | translate}}</th>
                      </tr>
                      <tr>
                        <th class="text-center" style="vertical-align: middle;">Total CSKH</th>
                        <th class="text-center" style="vertical-align: middle;">{{'account.cskh_remain' | translate}}
                        </th>
                        <th class="text-center" style="vertical-align: middle;">Total QC</th>
                        <th class="text-center" style="vertical-align: middle;">{{'account.qc_remain' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody class="table-content">
                      <tr *ngFor="let account of dataAccount; let i = index" [attr.data-index]="i">
                        <td class="text-center">{{account.STT}}</td>
                        <td>{{account.USER_NAME}}</td>
                        <td>{{account.FULL_NAME}}</td>
                        <td><textarea rows="2" class="form-control" style="resize: vertical;"
                            readonly>{{account.CUSTOMER_IP}}</textarea></td>
                        <!-- <td>{{account.PHONE}}</td>
                        <td>{{account.EMAIL}}</td> -->
                        <td class="text-center">{{account.TOTAL_VOL_CSKH}}</td>
                        <td class="text-center">{{account.VOL_CSKH}}</td>
                        <td class="text-center">{{account.TOTAL_VOL_QC}}</td>
                        <td class="text-center">{{account.VOL_QC}}</td>
                        <td>{{account.PAYMENT_TYPE == 1? 'Trả trước': account.PAYMENT_TYPE == 2?'Trả sau':''}}</td>
                        <td>{{account.IS_ACTIVE == 1? 'Hoạt động': 'Dừng hoạt động'}}</td>
                        <td>{{convertStringDate(account.CREATE_DATE)}}</td>
                        <td class="box-checkbox-table">
                          <input type="checkbox" [checked]="account.ENABLE_SMS_CSKH == 1? true:false" class="checkbox"
                            disabled>
                        </td>
                        <td class="box-checkbox-table">
                          <input type="checkbox" [checked]="account.ENABLE_SMS_QC == 1? true:false" class="checkbox"
                            disabled>
                        </td>
                        <td class="text-center" style=" width:180px">
                          <div class="tool" style="display: block;">
                            <button type="submit" class="btn btn-success btn-sm" *ngIf="role.IS_ADD"
                              (click)="showConfirmEditAccount(account.ACCOUNT_ID)"
                              style="margin: 2px">{{ 'global.edit' | translate }}</button>
                            <button type="button" class="btn btn-success btn-sm" *ngIf="isRoot"
                              (click)="showPhanQuyen(account.ACCOUNT_ID)"
                              style="margin: 2px">{{'account.permission' | translate}}</button>
                            <button type="button" class="btn btn-success btn-sm" *ngIf="role.IS_EDIT"
                              (click)="showConfirmResetPass(account.ACCOUNT_ID)"
                              style="margin: 2px">{{'account.reset_pass' | translate}}</button>
                            <button type="button" class="btn btn-danger btn-sm" *ngIf="role.IS_DELETE"
                              (click)="showConfirmDeleteAccount(account.ACCOUNT_ID, account.USER_NAME)"
                              style="margin: 2px">{{ 'global.delete' | translate }}</button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6" style="margin: 25px 0 0 0">
                    Tổng số {{ pagination.totalRow }} bản ghi trong {{ pagination.totalPage }} trang. Hiển thị
                    <select (change)="changePageSize($event.target.value)" [value]="pagination.pageSize">
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                      <option value="99999999">Tất cả</option>
                    </select>
                    bản ghi.
                  </div>
                  <div class="col-md-6 col-sm-6" style="margin-bottom:10px">
                    <pagination [boundaryLinks]="true" [itemsPerPage]="pagination.pageSize"
                      [totalItems]="pagination.totalRow" (pageChanged)="pageChanged($event)"
                      (numPages)="pagination.totalPage = $event" [(ngModel)]="pagination.pageIndex" [rotate]="true"
                      [maxSize]="5" class="pagination-sm content-end" previousText="&lsaquo;" nextText="&rsaquo;"
                      firstText="&laquo;" lastText="&raquo;">
                    </pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>

<!-- modal thêm tài khoản-->
<div class="modal fade" bsModal #createAccountModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
  role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg" style="width:90%">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">{{'account.create_account' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="createAccountModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="form" (ngSubmit)="f.form.valid && createAccount()" #f="ngForm" novalidate>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.account_name'|translate}} <span style="color:red;">(*)</span></label>
                  <input type="text" class="form-control" name="userName" [(ngModel)]="model.userName"
                    #userName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && userName.invalid }" required />
                  <div style="color: red;" *ngIf="f.submitted && userName.invalid" class="invalid-feedback">
                    <div *ngIf="userName.errors.required">Username is required</div>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'global.phone' | translate}}</label>
                  <input type="text" class="form-control" name="phone" [(ngModel)]="model.phone" #phone="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted}" [pattern]="mobNumberPattern" />
                  <div style="color: red;" *ngIf="phone.invalid && f.submitted" class="invalid-feedback">
                    <div *ngIf="phone.errors.pattern">
                      Mobile number not valid.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <label><input type="checkbox" class="checkbox" name="isActive" [(ngModel)]="checkActive"
                        #isActive="ngModel" [ngClass]="{ 'is-invalid': f.submitted}" />
                      <span>{{'account.account_active' | translate}}</span> </label>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="checkbox" *ngIf="isRoot">
                    <label><input type="checkbox" class="checkbox" name="isAdmin" [(ngModel)]="model.isAdmin"
                        #isAdmin="ngModel" [ngClass]="{ 'is-invalid': f.submitted}" />
                      <span>{{'account.is_admin' | translate}}</span> </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <label><input type="checkbox" class="checkbox" name="limitQuota" [(ngModel)]="model.limitQuota"
                        #limitQuota="ngModel" [ngClass]="{ 'is-invalid': f.submitted}" />
                      <span>{{'account.limit_quota' | translate}}</span> </label>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <label><input type="checkbox" class="checkbox" name="checkSendSmsLoop"
                        [(ngModel)]="model.checkSendSmsLoop" #checkLoop="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted}" />
                      <span>{{'account.sms_loop' | translate}}</span> </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <label><input type="checkbox" class="checkbox" name="enableSmsCSKH"
                        [(ngModel)]="model.enableSmsCSKH" #enableSmsCSKH="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted}" />
                      <span>{{'account.send_cskh' | translate}}</span> </label>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <label><input type="checkbox" class="checkbox" name="enableSmsQC" [(ngModel)]="model.enableSmsQC"
                        #enableSmsQC="ngModel" [ngClass]="{ 'is-invalid': f.submitted}" />
                      <span>{{'account.send_qc' | translate}}</span> </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <label><input type="checkbox" class="checkbox" name="enableOTT" [(ngModel)]="model.enableOTT"
                        #enableOTT="ngModel" [ngClass]="{ 'is-invalid': f.submitted}" />
                      <span>{{'account.send_ott' | translate}}</span> </label>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <label><input type="checkbox" class="checkbox" name="enableOTP" [(ngModel)]="model.enableOTP"
                        #enableOTP="ngModel" [ngClass]="{ 'is-invalid': f.submitted}" />
                      <span>{{'account.send_otp' | translate}}</span> </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <label><input type="checkbox" class="checkbox" name="enableDauSoNgan"
                        [(ngModel)]="model.enableDauSoNgan" #enableDauSoNgan="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted}" />
                      <span>{{'account.send_short_number' | translate}}</span> </label>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <label><input type="checkbox" class="checkbox" name="dlvr" [(ngModel)]="model.dlvr" #dlvr="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted}" />
                      <span>{{'account.receive_report_sms' | translate}}</span> </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'global.avatar' | translate}}</label>
                  <input type="file" #uploadImage name="avatar" class="form-control" (change)="submitUploadImage()">
                </div>
              </div>
              <div class="row" style="margin-top: 10px;">
                <div class="col-sm-12 col-xs-12 form-group text-center">
                  <img src="{{ urlImageUpload }}" style="width: 150px; height: 150px;" />
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <label>{{'account.account_pass' | translate}} <span style="color:red;">(*)</span></label>
                  <input type="text" [disabled]="isDisablePass" class="form-control" name="password"
                    [(ngModel)]="passRandom" #password="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
                  <div style="color: red;" *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top: 13px;">
                  <div class="checkbox">
                    <label><input type="checkbox" class="checkbox" name="randomPass" [(ngModel)]="model.randomPass"
                        #randomPass="ngModel" [ngClass]="{ 'is-invalid': f.submitted}"
                        (change)="checkCreateRandomPass($event.currentTarget.checked)" />
                      <span>Tạo MK</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'global.email'|translate}}</label>
                  <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted}" email />
                  <div style="color: red;" *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.bank_name' | translate}}</label>
                  <input type="text" class="form-control" name="bankName" [(ngModel)]="model.bankName"
                    #bankName="ngModel" [ngClass]="{ 'is-invalid': f.submitted}" />
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.bank_account' | translate}}</label>
                  <input type="text" class="form-control" name="bankAccount" [(ngModel)]="model.bankAccount"
                    #bankAccount="ngModel" [ngClass]="{ 'is-invalid': f.submitted}" />
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.bank_account_name' | translate}}</label>
                  <input type="text" class="form-control" name="bankAccountName" [(ngModel)]="model.bankAccountName"
                    #bankAccountName="ngModel" [ngClass]="{ 'is-invalid': f.submitted}" />
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.account_type' | translate}} <span style="color:red;">(*)</span></label>
                  <angular2-multiselect [data]="listAccountType" [(ngModel)]="selectedAccountType"
                    [settings]="settingsFilterAccountType" name="accountType" [ngClass]="{ 'is-invalid': f.submitted}"
                    (onSelect)="onSelectAccountType()">
                  </angular2-multiselect>
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>Skype</label>
                  <input type="text" class="form-control" name="skype" [(ngModel)]="model.skype" #skype="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted}" />
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.account_fullname' | translate}}</label>
                  <input type="text" class="form-control" name="fullName" [(ngModel)]="model.fullName"
                    #fullName="ngModel" [ngClass]="{ 'is-invalid': f.submitted}" />
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.limit_month_cskh' | translate}}</label>
                  <input type="number" class="form-control" name="hanMucThangCSKH" [(ngModel)]="model.hanMucThangCSKH"
                    #hanMucThangCSKH="ngModel" [ngClass]="{ 'is-invalid': f.submitted}" min="0"
                    [readonly]="isDisableLimit" />
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.limit_day_cskh' | translate}}</label>
                  <input type="number" class="form-control" name="hanMucNgayCSKH" [(ngModel)]="model.hanMucNgayCSKH"
                    #hanMucNgayCSKH="ngModel" [ngClass]="{ 'is-invalid': f.submitted}" min="0"
                    [readonly]="isDisableLimit" />
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.role' | translate}} <span style="color:red;">(*)</span></label>
                  <angular2-multiselect [data]="listRole" [(ngModel)]="selectedRole" [settings]="settingsFilterRole"
                    name="accountRole" [ngClass]="{ 'is-invalid': f.submitted}">
                  </angular2-multiselect>
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.account_parent' | translate}}</label>
                  <angular2-multiselect [data]="listAccount" [(ngModel)]="selectedAccountID"
                    [settings]="settingsFilterAccount" name="parentID" [ngClass]="{ 'is-invalid': f.submitted}">
                  </angular2-multiselect>
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.company' | translate}}</label>
                  <input type="text" class="form-control" name="companyName" [(ngModel)]="model.companyName"
                    #companyName="ngModel" [ngClass]="{ 'is-invalid': f.submitted}" />
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.limit_month_qc' | translate}}</label>
                  <input type="number" class="form-control" name="hanMucThangQC" [(ngModel)]="model.hanMucThangQC"
                    #hanMucThangQC="ngModel" [ngClass]="{ 'is-invalid': f.submitted}" min="0"
                    [readonly]="isDisableLimit" />
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.limit_day_qc' | translate}}</label>
                  <input type="number" class="form-control" name="hanMucNgayQC" [(ngModel)]="model.hanMucNgayQC"
                    #hanMucNgayQC="ngModel" [ngClass]="{ 'is-invalid': f.submitted}" min="0"
                    [readonly]="isDisableLimit" />
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account_history.inIp' | translate}}</label>
                  <input type="text" class="form-control" name="cusIp" [(ngModel)]="model.cusIp" #cusIp="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted}" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm"
            (click)="createAccountModal.hide()">{{ 'global.cancel' | translate }}</button>
          <button type="submit" class="btn btn-success btn-sm">{{ 'global.confirm' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal sửa tài khoản-->
<div class="modal fade" bsModal #editAccountModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg" style="width:90%">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h4 id="dialog-static-name" class="modal-title pull-left">{{'account.edit_account' | translate}}</h4>
        </div>
        <div class="col-md-9 col-sm-6 col-xs-12" style="text-align: right">
          <button type="button" class="close pull-right" aria-label="Close" (click)="editAccountModal.hide()"
            style="margin-left: 10px">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <form [formGroup]="formEditAccount" (ngSubmit)="editAccount()">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.account_name' | translate}} <span style="color:red;">(*)</span></label>
                  <input type="text" class="form-control" formControlName="userName" required="" [attr.disabled]="true">
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'global.phone' | translate}}</label>
                  <input type="text" class="form-control" formControlName="phone" required="">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <label><input type="checkbox" value="" class="checkbox" formControlName="isActive" required="">
                      <span>{{'account.account_active' | translate}}</span> </label>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="checkbox" *ngIf="isRoot">
                    <label><input type="checkbox" value="" class="checkbox" formControlName="isAdmin" required="">
                      <span>{{'account.is_admin' | translate}}</span> </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <label><input type="checkbox" value="" class="checkbox" formControlName="enableSmsCSKH" required="">
                      <span>{{'account.send_cskh' | translate}}</span> </label>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <label><input type="checkbox" value="" class="checkbox" formControlName="enableSmsQC" required="">
                      <span>{{'account.send_qc' | translate}}</span> </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <label><input type="checkbox" value="" class="checkbox" formControlName="enableOTT" required="">
                      <span>{{'account.send_ott' | translate}}</span> </label>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <label><input type="checkbox" value="" class="checkbox" formControlName="enableOTP" required="">
                      <span>{{'account.send_otp' | translate}}</span> </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <label><input type="checkbox" value="" class="checkbox" formControlName="enableDauSoNgan"
                        required="">
                      <span>{{'account.send_short_number' | translate}}</span> </label>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <label><input type="checkbox" value="" class="checkbox" formControlName="dlvr" required="">
                      <span>{{'account.receive_report_sms' | translate}}</span> </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'global.avatar' | translate}}</label>
                  <input type="file" #uploadImageEdit class="form-control" (change)="submitUploadImageEdit()">
                </div>
              </div>
              <div class="row" style="margin-top: 10px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <img src="{{ urlImageUploadEdit }}" style="width: 150px; height: 150px;" />
                  <label class="remove-node" (click)="removeImage()"><i class="fa fa-times-circle"></i></label>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.account_fullname' | translate}}</label>
                  <input type="text" class="form-control" formControlName="fullName" required="">
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'global.email'|translate}}</label>
                  <input type="email" class="form-control" formControlName="email" required="">
                </div>
              </div>
              <div class="row" style="margin-top: 28px;">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <label><input type="checkbox" value="" class="checkbox" formControlName="limitQuota" required="">
                      <span>{{'account.limit_quota' | translate}}</span> </label>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <label><input type="checkbox" value="" class="checkbox" formControlName="checkSendSmsLoop"
                        required="" [(ngModel)]="checkSendSmsLoop">
                      <span>{{'account.sms_loop' | translate}}</span> </label>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.bank_account' | translate}}</label>
                  <input type="text" class="form-control" formControlName="bankAccount" required="">
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.bank_account_name' | translate}}</label>
                  <input type="text" class="form-control" formControlName="bankAccountName" required="">
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.account_type' | translate}} <span style="color:red;">(*)</span></label>
                  <angular2-multiselect [data]="listAccountType" [settings]="settingsFilterAccountType"
                    formControlName="paymentType"[(ngModel)]="selectedAccountType" (onSelect)="onSelectAccountType()">
                  </angular2-multiselect>
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>Skype</label>
                  <input type="text" class="form-control" formControlName="skype" required="">
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.bank_name' | translate}}</label>
                  <input type="text" class="form-control" formControlName="bankName" required="">
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.limit_month_cskh' | translate}}</label>
                  <input type="number" min=0 class="form-control" formControlName="hanMucThangCSKH" required=""
                    [readonly]="isDisableLimit">
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.limit_day_cskh' | translate}}</label>
                  <input type="number" min=0 class="form-control" formControlName="hanMucNgayCSKH" required=""
                    [readonly]="isDisableLimit">
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.role' | translate}}</label>
                  <angular2-multiselect [data]="listRole" [settings]="settingsFilterRole" formControlName="roleID">
                  </angular2-multiselect>
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.account_parent' | translate}}</label>
                  <angular2-multiselect [data]="listAccount" [settings]="settingsFilterAccount"
                    formControlName="parentID">
                  </angular2-multiselect>
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.company' | translate}}</label>
                  <input type="text" class="form-control" formControlName="companyName" required="">
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.limit_month_qc' | translate}}</label>
                  <input type="number" min=0 class="form-control" formControlName="hanMucThangQC" required=""
                    [readonly]="isDisableLimit">
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account.limit_day_qc' | translate}}</label>
                  <input type="number" min=0 class="form-control" formControlName="hanMucNgayQC" required=""
                    [readonly]="isDisableLimit">
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>{{'account_history.inIp' | translate}}</label>
                  <input type="text" class="form-control" formControlName="cusIp" required="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm"
            (click)="editAccountModal.hide()">{{ 'global.cancel' | translate }}</button>
          <button type="submit" class="btn btn-success btn-sm">{{ 'global.confirm' | translate }}</button>
          <button class="btn btn-success btn-sm"
            [routerLink]="['../../manager/account-product']">{{'account-product.title' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal xác nhận xóa tài khoản-->
<div class="modal fade" bsModal #confirmDeleteModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
  role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">{{'global.confirm' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="confirmDeleteModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>{{ 'global.ask_delete' | translate }}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm"
          (click)="confirmDeleteModal.hide()">{{'global.cancel' | translate}}</button>
        <button type="submit" class="btn btn-success btn-sm"
          (click)="deleteAccount(AccountId)">{{'global.confirm' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<!-- modal xác nhận xóa nhiều tài khoản-->
<div class="modal fade" bsModal #confirmDeleteMultiModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
  role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">{{'global.confirm' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="confirmDeleteMultiModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>Bạn có chắc chắn muốn xóa? </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm"
          (click)="confirmDeleteMultiModal.hide()">{{'global.cancel' | translate}}</button>
        <button type="submit" class="btn btn-success btn-sm"
          (click)="deleteMultiAccount()">{{'global.confirm' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<!-- modal phan quyen-->
<div class="modal fade" bsModal #phanQuyenModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">{{ 'account_menu.title' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="phanQuyenModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-account-menu #accountMenuComponent></app-account-menu>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm"
          (click)="phanQuyenModal.hide()">{{'global.cancel' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<!-- modal xác nhận reset password-->
<div class="modal fade" bsModal #confirmResetPassModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
  role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">{{'global.confirm' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="confirmResetPassModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="formResetPass">
        <div class="modal-body">
          <!-- <div>{{'account.confirm_reset_pass' | translate}}</div> -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <label>{{ 'account.pass_new' | translate }}</label>
              <input type="text" class="form-control" formControlName="newPass" maxlength="25"
                placeholder="Nhập mật khẩu mới" ngModel>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 10px;">
              <label>{{ 'account.pass_api' | translate }}</label>
              <input type="text" class="form-control" formControlName="newPassAPI" maxlength="25"
                placeholder="Nhập mật khẩu API mới" ngModel>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm"
            (click)="confirmResetPassModal.hide()">{{'global.cancel' | translate}}</button>
          <button type="button" (click)="resetPass(AccountId)"
            class="btn btn-success">{{ 'global.confirm' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>