<section>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel portlet">
        <div class="x_title clearfix">
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link" onclick="collapseBox(this)"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link" onclick="closeBox(this)"><i class="fa fa-close"></i></a>
            </li>
          </ul>
        </div>
        <div class="x_content">
          <form class="row form-horizontal form-label-left input_mask">
            <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="inputSuccess1"
                placeholder="{{ 'birthday_product.birthday_product_id' | translate }}">
              <span class="fa fa-list-ul form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="inputSuccess4"
                placeholder="{{ 'birthday_product.birthday_product_name' | translate }}">
              <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="inputSuccess2"
                placeholder="{{ 'birthday_product.birthday_product_name' | translate }}">
              <span class="fa fa-list-ul form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
              <select class="form-control has-feedback-left">
                <option value="">{{'birthday_product.birthday_product_name' | translate}}</option>
                <option value="1">SMS</option>
                <option value="2">Quảng cáo</option>
                <option value="3">Đầu số ngắn</option>
                <option value="4">Data</option>
              </select>
              <span class="glyphicon glyphicon-lock form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="inputSuccess3"
                placeholder="{{ 'birthday_product.birthday_product_name' | translate }}">
              <span class="fa fa-cog form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="inputSuccess2"
                placeholder="{{ 'birthday_product.birthday_product_name' | translate }}">
              <span class="glyphicon glyphicon-lock form-control-feedback left" aria-hidden="true"></span>
            </div>
            <!-- <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="inputSuccess2"
                placeholder="{{ 'global.activate' | translate }}">
              <span class="fa fa-flash form-control-feedback left" aria-hidden="true"></span>
            </div> -->
            <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
              <button type="button" style="float: right; margin-right: 0;"
                class="btn btn-primary btn-sm">{{ 'global.search' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>